body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

#settingsForm {
    margin-bottom: 20px;
}

#game {
    margin-top: 20px;
}

#question {
    font-size: 24px;
    margin-bottom: 10px;
}

#options button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

#timer {
    margin-top: 20px;
    font-size: 20px;
}

#feedback {
    font-size: 20px;
    margin-top: 10px;
    color: green;
}
